In [7]:
import pandas as pd

In [8]:
import numpy as py

In [9]:
import math
import hashlib

In [10]:
def uniqueprof(num):
    for i in range(4):
        if num << i:
            print ("Profile {0}".format(i+1))

In [11]:
uniqueprof(1)

Profile 1
Profile 2
Profile 3
Profile 4

In [19]:
table = pd.read_csv('warmup.csv',names = ['Person','Car','Home','Child','Alcohol'])
table

   Person  Car  Home  Child  Alcohol
0     one    0     1      0        1
1     two    1     1      1        1
2   three    1     0      1        0
3    four    0     0      0        0

#now lets do ADT

In [22]:
with open ('SampleADT01.txt','r') as f:
    file = f.read()
    lines = [line.split('|') for line in file.split('\n')]

In [23]:
lines

[['MSH',
  '^~\\&',
  'SENDING_APPLICATION',
  'SENDING_FACILITY',
  'RECEIVING_APPLICATION',
  'RECEIVING_FACILITY',
  '20110613083617',
  '',
  'ADT^A01',
  '934576120110613083617',
  'P',
  '2.3',
  '',
  '',
  '',
  ''],
 ['EVN', 'A01', '20110613083617', '', '', ''],
 ['PID',
  '1',
  '',
  '135769',
  '',
  'MOUSE^MICKEY^',
  '',
  '19281118',
  'M',
  '',
  '',
  '123 Main St.^^Lake Buena Vista^FL^32830',
  '',
  '(407)939-1289^^^theMainMouse@disney.com',
  '',
  '',
  '',
  '',
  '1719',
  '99999999',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['PV1', '1', 'O', '', '', '', '', '^^^^^^^^', '^^^^^^^^']]